<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Labs
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №2
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент групи КН-32 Замрій І. А.
    </ion-title>
    <ion-title>
      Варіант 5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Лабораторна робота №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Створити додаток для табулювання і виведення на екран значення функції, також побудувати графік функції</ion-text>
      <ion-item>
        <ion-label position="floating">Xn</ion-label>
        <ion-input type="number" id="xn" value="-1.8" #Inputxn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xk</ion-label>
        <ion-input type="number" id="xk" value="-1.8" #Inputxk></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">a</ion-label>
        <ion-input type="number" id="a" value="-1.8" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">h</ion-label>
        <ion-input type="number" id="h" value="-1.8" #Inputh></ion-input>
      </ion-item>
      <ion-item>
        <canvas #lineCanvas></canvas>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
